<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <h3>Your Orders</h3>
      <div *ngIf="orders.length>0">
        <table class="table table-bordered">
          <tr *ngFor="let order of orders">
            <td>
              <div>
                <p>Total Price: {{order.totalPrice | currency:'USD'}}</p>
                <p>Total Quantity: {{order.totalQuantity}}</p>
                <p>Date of Purchase: {{order.dateCreated}}</p>
              </div>
              <div>
                <div class="row">
                  <div *ngFor="let tem of order.orderItems" class="col-md-3">
                    <div class="product-box">
                      <img src="{{tem.imageUrl}}" class="img-responsive">
                      <h1>{{tem.name}}</h1>
                      <div class="price">Price: {{tem.unitPrice | currency:'USD'}}</div>
                      <div class="price">Units: {{tem.units}}</div>
                      <a routerLink="/review/{{tem.id}}">
                        <button class="btn-sm btn-primary">add review</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div *ngIf="orders.length==0" class="alert alert-warning col-md-12" role="alert">
        No orders found
      </div>
    </div>
  </div>
</div>
